---
layout: default
---

<section>
    <header class="sm-px3 px2 sm-pt3 pt2 sm-pb2 pb1 header card">
      <h1 class="header-main mt0 my0">
        #watanopie&nbsp;– Heimat, ein&nbsp;Ort der&nbsp;Utopie?
      </h1>
      <h2 class="header-sub mt1">
        Eine&nbsp;Kampagne von Solidarigee&nbsp;e.V.
      </h2>
    </header>
</section>

<section class="mt4">
  <article class="mt3 sm-px3 px2 sm-pt3 pt2 sm-pb2 pb1 card">  
    <div class="clearfix md-mxn2 mid-gray">
      <div class="md-block md-col md-col-6 md-px2 my0">
        {{ site.data.campaign_intro.first_column | markdownify | hyphenate }}
      </div>
      <div class="md-block md-col md-col-6 md-px2 my0">
        {{ site.data.campaign_intro.second_column | markdownify | hyphenate }}
      </div>
    </div>
  </article>
</section>

<section class="mt4">

  <header class="section-header mb2">
    <h1 class="section-header-text">Autorenprofile</h1>
  </header>

  <div class="clearfix sm-mxn2">

    {% for author in site.authors %}
    
    <div class="col md-col-4 sm-col-6 col-12 sm-p2 sm-mt0 mt3" id="author_{{ author.title }}">
      <a href="{{ author.url | relative_url }}" class="no-link-style">
        <div class="relative ratio-2-3 card">
          {% if author.image %}
          <div class="ratio-2-3-content rounded clickable-img bg-center bg-cover" 
               style="background-image: url('{{ author.image | prepend: "assets/images/cropped/" | relative_url }}')"></div>
          {% else %}
          <div class="ratio-2-3-content rounded clickable-img bg-black">
            <p class="h1 mx3 my4 center lowercase white">Foto unterwegs</p>
          </div>
          {% endif %}
          <div class="center lowercase absolute bottom-0 right-0 left-0 py1 bg-darken-4 white rounded-bottom">
            {{ author.name }}
          </div>
        </div>
      </a>
    </div>

    {% endfor %}

  </div>

  {% comment %}
  <!-- Does not apply anymore. -->
  <footer class="flex items-center my2">
    <div class="block flex-auto px2"><hr class="my0"></div>
    <div class="lowercase">
      <h1 class="h3 center mb0 mt0">Weitere Kunstwerke sind unterwegs.</h1>
    </div>
    <div class="block flex-auto px2"><hr class="my0"></div>
  </footer>
  {% endcomment %}

</section>

<section class="mt4">
  <article class="mt3 sm-px3 px2 sm-pt3 pt2 sm-pb2 pb1 card">  
    <h2 class="h2 lowercase mt0">
      {{ site.data.workshops_info.title }}
    </h2>
    <div class="clearfix md-mxn2 mid-gray">
      <div class="md-block md-col md-col-6 md-px2 my0">
        {{ site.data.workshops_info.first_column | markdownify | hyphenate }}
        <!-- &shy; &nbsp; -->
      </div>
      <div class="md-block md-col md-col-6 md-px2 my0">
        {{ site.data.workshops_info.second_column | markdownify | hyphenate }}
        <img src="{{ "wassertor_medien.png" | prepend: "assets/images/" | relative_url }}" 
           alt="Logo von Wassertor Medien"
           class="col-4">
        <img src="{{ "mgh.png" | prepend: "assets/images/" | relative_url }}" 
           alt="Logo von Wassertor Medien"
           class="col-4">
      </div>
    </div>
  </article>

  <!-- <div class="clearfix mt3 card">
    
    <div class="md-col md-col-6 sm-px3 px2 sm-py3 py2">
      <h2 class="h1 lowercase mt0 mb2">Ort und Zeit</h2>
      
      <p><time datetime="2016-01-25 18:30">
        25. Januar 2017 / 18:30 Uhr 
      </time></p>
      <p>
        Werkstatt der Kulturen<br>
        Wissmannstraße 32<br>
        Berlin Neukölln
      </p>
    </div>

    <div class="md-col md-col-6">
      <div class="map-container">
        <iframe class="md-rounded-right rounded-bottom"
          width=800
          height=600
          frameborder="0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD5EWDtTLuCODP_uc_ik5InWXM0sbVO_e8&q=Werkstatt+der+Kulturen">
        </iframe>
      </div>
    </div>
  </div> -->

</section>

