---
layout: default
---

<section>

  <article class="card">
    <div class="sm-px3 px2 sm-pt3 pt2 sm-pb2 pb1 header rounded-top">
      <header>
        <h1 class="h1 lowercase mt0 my0 italic">
          #watanopie&nbsp;– Heimat, ein&nbsp;Ort der&nbsp;Utopie?
        </h1>
        <h2 class="h2 lowercase mt0 italic">
          Eine&nbsp;Kampagne von Solidarigee&nbsp;e.V.
        </h2>
      </header>
    </div>
    <div class="sm-px3 px2 sm-pt3 pt2 sm-pb2 pb1">
    <div class="clearfix md-mxn2 mid-gray">
      <div class="md-block md-col md-col-6 md-px2 my0">
        <p>›Watan‹ ist das arabische, persische und türkische Wort für ›Heimat‹. Der Suffix ›-topie‹ leitet sich aus dem altgrie&shy;chischen ›tópos‹ ab und bedeutet ›Ort‹. Mit der Kampagne ›#watanopie – Heimat, ein Ort der Utopie?‹ sprechen junge Berliner erstmalig von einer ›Utopie der Heimat‹ und treten ein für Dialog und gesellschaftliche Partizipation. Mit dieser Kampagne fordern wir Chancengleichheit für Jugendliche mit und ohne Flucht- und Migrationserfahrung.</p>

        <p>Doch was steckt überhaupt hinter der Idee von #watanopie? Was bedeutet ›die Utopie der Heimat‹? Jugendliche mit unter&shy;schiedlichsten Geschichten, aus unter&shy;schiedlichsten Bereichen, arbeiten an einer Vision: Gemeinsam schaffen wir einen Ort der Teilhabe, einen Ort der Kreativität und Chancen&shy;gleichheit, hier in Berlin und überall. Ein Ort, an dem jede Kultur und jede Idee ihren Raum bekommt, Selbst&shy;verwirklichung real und solidarisches Zusammenleben garantiert ist. Eine Utopie der Heimat muss sich wieder- und neu erfinden, um eine ›Utopie der Heimat‹ für uns alle zu werden.</p>
      </div>
      <div class="md-block md-col md-col-6 md-px2 my0">
        <p>Mit der Kampagne ›#watanopie – Heimat, ein Ort der Utopie?‹ wird der bisher noch passive Raum für gesell&shy;schaftliche Partizipation und Mitgestaltung für Jugendliche mit Fluchterfahrung befördert und mittels kritischer Medien&shy;nutzung gestreut. Die zur Kampagnenvorbereitung durch&shy;geführten Workshops befassen sich deshalb aktiv und ebenso kritisch mit den Konzepten Heimat, Utopie, Dystopie, Demo&shy;kratie und Medien. Erfahrungswerte, Träume und Ziele werden von einzelnen Autoren vorgestellt und reflektieren die in den Workshops erarbeiteten Diskussionen. Die Autorenprofile, Fotos und #watanopie-Texte werden wöchentlich hier auf unserem Blog veröffentlicht. Seid gespannt!</p>

        <p>Unterstütze, gemeinsam mit uns, die Förderung nach politischer und gesellschaftlicher Partizipation junger Geflüchteter! Lasst uns gemeinsam an der Utopie einer Heimat arbeiten! Folge uns auf <a href="https://twitter.com/solidarigee_ev">Twitter</a>, <a href="https://www.instagram.com/solidarigee_ev/">Instagram</a> und <a href="https://www.facebook.com/solidarigeeberlin">Facebook</a>. Poste und tweete unter dem Hashtag #watanopie und #heimatist!</p>
      </div>
    </div>
    </div>
  </article>
  <article class="mt3 sm-px3 px2 sm-pt3 pt2 sm-pb2 pb1 card">  
    <h2 class="h2 lowercase mt0">
      Weitere Infos zu den Workshops
    </h2>
    <div class="clearfix md-mxn2 mid-gray">
      <div class="md-block md-col md-col-6 md-px2 my0">
        <p>Die Kampagne wurde im Rahmen des Workshops ›Heimatschrift‹ erarbeitet, welche SolidariGee in Kooperation mit anderen Bündnispartnern gestaltet. Hauptziel dieser Workshopreihe ›Heimat-Los in Deutschland. Mit Medien entdecken!‹ des Bündnisses <a href="http://www.wassertormedien.de/">Wassertormedien e.V.</a>, <a href="http://www.mgh-wassertor.de/">MGH</a> und SolidariGee e.V. ist die Förderung der Medienkompetenz und die Auseinandersetzung mit der neuen Heimat, Deutschland, von jungen Geflüchteten im Alter von 18 bis 26 Jahren. Bei jeder Workshopsitzung beschäftigen sich die TeilnehmerInnen mit einem neuen Medium, mit dessen Hilfe sich gesellschaftlich und politisch Gehör verschafft werden kann, dazu gehört dieser Blog, Open-Office-Programme, Facebook, Twitter, Instagram usw.</p>

        <!-- &shy; &nbsp; -->
      </div>
      <div class="md-block md-col md-col-6 md-px2 my0">
        <p>Das Projekt ›Heimat-Los Deutschland. Mit Medien entdecken!‹ wird unterstützt durch das Programm ›MeinLand – Zeit für Zukunft‹ der Türkischen Gemeinde in Deutschland im Rahmen des Bundesprogramms ›Kultur macht stark. Bündnisse für Bildung‹ des Bundesministerium für Bildung und Forschung."</p>
      </div>
    </div>
  </article>

  <!-- <div class="clearfix mt3 card">
    
    <div class="md-col md-col-6 sm-px3 px2 sm-py3 py2">
      <h2 class="h1 lowercase mt0 mb2">Ort und Zeit</h2>
      
      <p><time datetime="2016-01-25 18:30">
        25. Januar 2017 / 18:30 Uhr 
      </time></p>
      <p>
        Werkstatt der Kulturen<br>
        Wissmannstraße 32<br>
        Berlin Neukölln
      </p>
    </div>

    <div class="md-col md-col-6">
      <div class="map-container">
        <iframe class="md-rounded-right rounded-bottom"
          width=800
          height=600
          frameborder="0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD5EWDtTLuCODP_uc_ik5InWXM0sbVO_e8&q=Werkstatt+der+Kulturen">
        </iframe>
      </div>
    </div>
  </div> -->

</section>

<section class="mt4">

  <header class="flex items-center mb2">
    <div class="block flex-auto px2"><hr class="my0"></div>
    <div><h1 class="h1 center lowercase my0">Autorenprofile</h1></div>
    <div class="block flex-auto px2"><hr class="my0"></div>
  </header>

  <div class="clearfix sm-mxn2">

    {% for author in site.authors %}
    
    <div class="col md-col-4 sm-col-6 col-12 sm-p2 sm-mt0 mt3" id="author_{{ author.title }}">
      <a href="{{ author.url | relative_url }}" class="no-link-style">
        <div class="relative ratio-2-3 card">
          {% if author.image %}
          <div class="ratio-2-3-content rounded clickable-img bg-center bg-cover" 
               style="background-image: url('{{ author.image | prepend: "assets/images/cropped/" | relative_url }}')"></div>
          {% else %}
          <div class="ratio-2-3-content rounded clickable-img bg-black">
            <p class="h1 mx3 my4 center lowercase white">Werk in Arbeit</p>
          </div>
          {% endif %}
          <div class="center lowercase absolute bottom-0 right-0 left-0 py1 bg-darken-4 white rounded-bottom">
            {{ author.artist }}
          </div>
        </div>
      </a>
    </div>

    {% endfor %}

  </div>

  {% comment %}
  <!-- Does not apply anymore. -->
  <footer class="flex items-center my2">
    <div class="block flex-auto px2"><hr class="my0"></div>
    <div class="lowercase">
      <h1 class="h3 center mb0 mt0">Weitere Kunstwerke sind unterwegs.</h1>
    </div>
    <div class="block flex-auto px2"><hr class="my0"></div>
  </footer>
  {% endcomment %}

</section>
