---
layout: default
---

<div class="card">
    <header class="px2 sm-px3 py2 sm-py3 header ">
      <h1 class="header-main mt0 mb0">
        #watanopie – Heimat, ein&nbsp;Ort der&nbsp;Utopie?
      </h1>
      <h2 class="header-sub mt1">
        Eine&nbsp;Kampagne von Solidarigee&nbsp;e.V.
      </h2>
    </header>
  <section class="p2 sm-p3">
    <div class="video-container">
      <iframe width="560" 
        height="315" 
        src="https://www.youtube.com/embed/IuV80wYRld0?modestbranding=1&controls=0&showinfo=0&rel=0" 
        frameborder="0" 
        allowfullscreen>
      </iframe>
    </div>
  </section>
  <article class="sm-px3 px2 pt3 sm-pb2 pb1">  
    <h2 class="h2 lowercase mt0">
      {{ site.data.campaign_intro.title }}
    </h2>
    <div class="clearfix md-mxn2">
      <div class="md-block md-col md-col-6 md-px2 my0">
        {{ site.data.campaign_intro.first_column | markdownify | hyphenate }}
      </div>
      <div class="md-block md-col md-col-6 md-px2 my0">
        {{ site.data.campaign_intro.second_column | markdownify | hyphenate }}
      </div>
    </div>
  </article>
</div>

<section class="mt4">

  <header class="section-header mb2">
    <h1 class="section-header-text">Autorenprofile</h1>
  </header>

  <div class="clearfix sm-mxn2">

    {% for author in site.authors %}
    
    <div class="col md-col-4 sm-col-6 col-12 sm-p2 sm-mt0 mt3" id="author_{{ author.title }}">
      <a href="{{ author.url | relative_url }}" class="no-link-style">
        <div class="relative ratio-2-3 card">
          {% if author.image %}
          <div class="ratio-2-3-content rounded clickable-img bg-center bg-cover" 
               style="background-image: url('{{ author.image | prepend: "assets/images/cropped/" | relative_url }}')"></div>
          {% else %}
          <div class="ratio-2-3-content rounded clickable-img bg-black">
            <p class="h1 mx3 my4 center lowercase white">Foto unterwegs</p>
          </div>
          {% endif %}
          <div class="center lowercase absolute bottom-0 right-0 left-0 py1 bg-darken-4 white rounded-bottom">
            {{ author.name }}
          </div>
        </div>
      </a>
    </div>

    {% endfor %}

  </div>

  {% comment %}
  <!-- Does not apply anymore. -->
  <footer class="flex items-center my2">
    <div class="block flex-auto px2"><hr class="my0"></div>
    <div class="lowercase">
      <h1 class="h3 center mb0 mt0">Weitere Kunstwerke sind unterwegs.</h1>
    </div>
    <div class="block flex-auto px2"><hr class="my0"></div>
  </footer>
  {% endcomment %}
</section>

<section class="mt4">
  <div class="sm-px3 px2 sm-pt3 pt2 sm-pb2 pb1 card">  
    <h2 class="h2 lowercase mt0">
      {{ site.data.workshops_info.title }}
    </h2>
    <article class="clearfix md-mxn2">
      <div class="md-block md-col md-col-6 md-px2 my0">
        {{ site.data.workshops_info.first_column | markdownify | hyphenate }}
        <!-- &shy; &nbsp; -->
      </div>
      <div class="md-block md-col md-col-6 md-px2 my0">
        {{ site.data.workshops_info.second_column | markdownify | hyphenate }}
      </div>
    </article>
  </div>
</section>
<section class="mt4">
  <div class="sm-px3 px2 flex flex-wrap items-end justify-around">
    <img src="{{ "solidarigee_logo.png" | prepend: "assets/images/" | relative_url }}" 
       alt="Logo von Solidarige e.V."
       style="max-width: 12rem;"
       class="px1 py2">
    <img src="{{ "mgh.png" | prepend: "assets/images/" | relative_url }}" 
       alt="Logo von Wassertor 48 e.V."
       style="max-width: 8rem;"
       class="px1 py2">
    <img src="{{ "wassertor_medien.png" | prepend: "assets/images/" | relative_url }}" 
       alt="Logo von Wassertor Medien"
       style="max-width: 10rem;"
       class="px1 py2">
  </div>
  <header class="section-header mb2">
    <h3 class="section-header-text">Projektmacher</h3>
  </header>
  <div class="sm-px3 px2 flex flex-wrap items-end justify-around">
    <img src="{{ "BfB_kultur_macht_stark.png" | prepend: "assets/images/" | relative_url }}" 
       alt="Logo von Kultur macht stark"
       style="max-width: 22rem;"
       class="px1 py2">
    <img src="{{ "tgd.png" | prepend: "assets/images/" | relative_url }}" 
       alt="Logo der Türkischen Gemeinde Deutschland"
       style="max-width: 8rem;"
       class="px1 py2">
    <img src="{{ "mein_land_logo.png" | prepend: "assets/images/" | relative_url }}" 
       alt="Logo von Mein Land"
       style="max-width: 8rem;"
       class="px1 py2">
  </div>
  <header class="section-header mb2">
    <h3 class="section-header-text">Förderer</h3>
  </header>
</section>