{% capture player_id %}{{ include.language | slugify | prepend: "player-" }}{% endcapture %}
<div class="px1 pb1">
  <button class="btn btn-primary caps" onClick="var player = document.getElementById('{{ player_id }}'); if (player.paused) { player.play(); } else { player.pause(); }">
    <i class="fa fa-play" aria-hidden="true"></i>
    {{ include.language }}
  </button>
  <audio id="{{ player_id }}">
    <source src="{{ include.audio_file | prepend: 'assets/audio/' | relative_url }}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
</div>