@charset "UTF-8";

.nav-link {
  color: $mid-gray;
}

.nav-link:hover {
  color: $watanopie-bg-blue;
}

.nav-link:active {
  color: lighten($watanopie-bg-blue, 10%);
}

.clickable-img {
  opacity: 1.0;
  border: 0;
}

.clickable-img:hover {
  opacity: 0.8;
}

.clickable-img:active {
  opacity: 0.7;
}

.card {
  background-color: $white;
  border-radius: $border-radius;

  // .mdl-shadow--4dp
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.header {
  background-color: $watanopie-bg-blue;
  color: $watanopie-blue;
}

.header-main {
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: lowercase;
  line-height: 1.0;
}

@media #{$breakpoint-sm} {
  .header-author { font-size: 3rem; }
}

.header-sub {
  font-weight: 500;
  font-size: $h2;
  font-style: italic;
  text-transform: lowercase;
  line-height: 1.0;
}

.section-header {
  display: flex;
  align-items: center;
}

.section-header::before, .section-header::after {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
  content: "";
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  margin-left: $space-2; 
  margin-right: $space-2;
}

.section-header-text {
  font-size: $h1;
  text-transform: lowercase;
  text-align: center;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.map-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map-container > iframe {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:0;
}

.modal {
  display: none;
  overflow: scroll;
  background-color: rgba(0,0,0,0.4);
}

.modal:target {
  display: block;
}

.modal-content {
  background-color: $white;
  border-radius: $border-radius;

  // .mdl-shadow--16dp
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.ratio-2-3 {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.ratio-2-3:after {
  padding-top: 150%;
  /* 2:3 ratio */
  display: block;
  content: '';
}

.ratio-2-3-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.no-link-style {
  text-decoration: none;
  transition: none;
  border: 0;
  color: inherit;
}

/**
 * Taken from pixyll.com
 */

.twitter-tweet {
  padding: 1.33em;
  border-left: 5px solid #7a7a7a;
  // color: #555;
}

.twitter-tweet p {
  font-style: italic;
}

.twitter-tweet footer {
  font-size: .85rem;
  font-style: normal;
  background-color: #fff;
  color: #7a7a7a;
  border-color: transparent;
}
