---
layout: default
---

  {% comment %}
      <!-- <nav class="mb2">
        {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}" class="nav-link">vorheriges</a>&nbsp;
        {% endif %}
        {% if page.next %}
        <a href="{{ page.next.url | relative_url }}" class="nav-link">nächstes</a>
        {% endif %}
      </nav> -->
  {% endcomment %}

  {% comment %}
  {% if page.image %}
  <div class="col md-col-5 sm-col-4 col-12 px2">
    <a href="#modal" class="block relative clickable-img">
      <img src="{{ page.image | prepend: "assets/images/" | relative_url }}" 
           alt="Kunstwerk von {{ page.artist }}"
           class="fit card">
      <div class="absolute left-0 top-0 m1 bg-lighten-4 rounded">
        <img src="{{ "assets/icons/ic_zoom_out_map_black_36px.svg" | relative_url }}" alt="zoom_loupe" class="block">
      </div>
    </a>
  </div>
  {% endif %}
  {% endcomment %}

<div class="card">
  <header class="px2 sm-px3 py2 sm-py3 header rounded-top">
    <div class="mx-auto text-container">
      <h1 class="mt0 mb0 header-main header-author">{{ page.name }}</h1>
      <h2 class="mt1 header-country">aus {{ page.country }}</h2>
      {% if page.age and page.date_of_birth and page.career_aspirations %}
      <section class="mt3 header-profile">
        {% capture cv_text %}
        wird 
        {% if page.age and page.date_of_birth %}
          {{ page.age | plus: 1 }} am {{ page.date_of_birth }}
          {% if page.career_aspirations %}
            und&nbsp;später
          {% endif %}
        {% endif %}
        {% if page.career_aspirations %}
          {{ page.career_aspirations }}
        {% endif %}
        {% endcapture %}
        <div class="">{{ cv_text }}</div>
      </section>
      {% endif %}
    </div>
  </header>
  <div class="pt2 sm-pt3 pb1 sm-pb3 px2 sm-px3 mx-auto text-container">
    <section class="mt3">
      <img src="{{ page.image | prepend: "assets/images/" | relative_url }}" 
           alt="Bild von {{ page.name }}"
           class="fit rounded">
    </section>
    <section class="mt3">
      <article>
      {{ content | hyphenate }}
      </article>
    </section>
    {% if page.audio %}
    <section class="mt3">
      <h3>Zum Hören</h3>
      <div class="mxn1 flex flex-wrap">
        {% include audio_player.html language="Deutsch" audio_file=page.audio_de %}
        {% include audio_player.html language=page.language audio_file=page.audio %}
      </div>
    </section>
    {% endif %}
  </div>
</div>

{% comment %}
{% if page.image %}
<div class="fixed left-0 top-0 bottom-0 right-0 p2 center modal" id="modal">
  <figure class="inline-block max-width-3 modal-content ">
    <figcaption class="lowercase py1 px2 left-align">
      <a href="#" class="right nav-link">Schließen</a>
      {{ page.artist | prepend: "Künstler: " }}
    </figcaption>
    <img src="{{ page.image | prepend: "assets/images/" | relative_url }}" 
         alt="Kunstwerk von {{ page.artist }}"
         class="block rounded-bottom fit">
  </figure>
</div>
{% endif %}
{% endcomment %}